html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Luna";
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../Media/Images/Image7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.topnav {
  position: absolute;
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  letter-spacing: 0.5;
}

.topnav a {
  float: right;
  font-family: 24px;
  padding-top: 32px;
  padding-right: 44px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  letter-spacing: 0.2em;
  transition: 0.3s;
}

.topnav a:hover {
  color: rgb(123, 255, 211);
  letter-spacing: 0.5em;
  border-radius: 3px;
  transition: 0.3s;
}

.vidcon {
  height: 100%;
  visibility: hidden;
}

.vidcon video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.headcon {  
  position: absolute;
  margin-top: -150px;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(247, 247, 247);
  letter-spacing: 0.2em;
}

.headcon h1 {
  font-size: 72px;
}

.headcon p {
  font-size: 22px;
  margin-top: -45px;
}

.content {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 2160px;
  background-color: rgb(123, 255, 211);
  color: rgb(255, 255, 255);
}

.content h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 70px;
}

.content p {
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
  margin-left: 260px;
  margin-right: 260px;
}